<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuessNode Application</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Welcome to GuessNode GameSession</h1>

    <button onclick="createGameSession()">Create GameSession</button>
    <button onclick="joinGameSession()">Join GameSession</button>
   
    <script>
        const socket = io();

        // This enable us to listen for session creation event  // Observing the GameSessionCreated event before navigating

                    socket.on("GameSessionCreated", ({ sessionId }) => {
                console.log("Received GameSession session ID:", sessionId)
                window.location.href = `/GameSession/${sessionId}`;
                sessionStorage.setItem("sessionId", sessionId)  // this helps to pull the game correctly during the upload via window
            });

// Create GameSession Function

      function createGameSession() {
            let username = sessionStorage.getItem("username");

            if (!username) {
                username = prompt("Enter your username:");
                if (!username) {
                    alert("Please enter your username.");
                    return; 
                }
               sessionStorage.setItem("username", username);
            }
                     socket.emit("createGameSession", { username });       // This creates the username in the server.

        }


// Join GameSession Fuction
        function joinGameSession() {
            const sessionId = prompt("Enter the GameSession ID to join:");
            if (!sessionId || !sessionId.trim()) {
                alert("Please enter a valid GameSession ID");
                return;
            }

          let username = sessionStorage.getItem("username");
            if(!username) {
                username = prompt("Enter your username:");
                if (!username) {
                     alert("Please enter a valid username");
                     return;  
                }
                sessionStorage.setItem("username", username);
            }

            socket.emit("joinGameSession", {sessionId, username}); // this displays the user that joined the GameSession session

            socket.once("GameSessionJoined", ({sessionId}) => {  // The use of "once" is to enable it to listen to the next response.
                console.log("Joined the GameSession successfully:", sessionId);
                window.location.href = `/GameSession/${sessionId}`;
                });

                socket.once("error", (data) => {
                    alert(data.message);
                });
            
        }

    </script>

     <!-- <button onclick="joinGameSession()">Join GameSession</button> -->

</body>
</html>