<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuessNode Application</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Welcome to GuessNode Game</h1>

    <button onclick="createGame()">Create Game</button>
    <button onclick="joinGame()">Join Game</button>
   
    <script>
        const socket = io();

        // This enable us to listen for session creation event  // Observing the gameCreated event before navigating

                    socket.on("gameCreated", ({ sessionId }) => {
                console.log("Received game session ID:", sessionId)
                window.location.href = `/game/${sessionId}`;
            });

// Create Game Function

      function createGame() {
            let username = sessionStorage.getItem("username");

            if (!username) {
                username = prompt("Enter your username:");
                if (!username) {
                    alert("Please enter your username.");
                    return; 
                }
               sessionStorage.setItem("username", username);
            }
                     socket.emit("createGame", { username });       // This creates the username in the server.

        }


// Join Game Fuction
        function joinGame() {
            const sessionId = prompt("Enter the Game ID to join:");
            if (!sessionId || !sessionId.trim()) {
                alert("Please enter a valid Game ID");
                return;
            }

          let username = sessionStorage.getItem("username");
            if(!username) {
                username = prompt("Enter your username:");
                if (!username) {
                     alert("Please enter a valid username");
                     return;  
                }
                sessionStorage.setItem("username", username);
            }

            socket.emit("joinGame", {sessionId, username}); // this displays the user that joined the game session

            socket.once("gameJoined", ({sessionId}) => {  // The use of "once" is to enable it to listen to the next response.
                console.log("Joined the game successfully:", sessionId);
                window.location.href = `/game/${sessionId}`;
                });

                socket.once("error", (data) => {
                    alert(data.message);
                });
            
        }

    </script>

     <!-- <button onclick="joinGame()">Join Game</button> -->

</body>
</html>